.App {
	text-align: center;
}

h1 {
	font-family: fantasy;
}

/* TODO - REMOVE AFTER APP.JS IS BUILT OUT */
.Temp_align {
	margin: 0px 35%;
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
